<form name="perfil_form">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Nombre</label>
      <input type="text" class="form-control" id="inputName" ng-model="user_data.nombre" name="name" ng-minlength="6"
        ng-maxlength="40" required>
      <span ng-show="perfil_form.name.$error.minlength">Nombre demasiado
        corto</span>
      <span ng-show="perfil_form.name.$error.maxlength">Nombre demasiado
        largo</span>
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail" ng-model="user_data.correo" name="email">
      <span ng-show="!perfil_form.email.$valid" class="helper-text">Anota un correo valido</span>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Contraseña</label>
      <input type="password" class="form-control" id="inputPassword4" ng-model="user_data.contra" name="password"
        ng-minlength="6" ng-maxlength="12" required>
      <span ng-show="perfil_form.password.$error.minlength">contraseña demasiado
        corta</span>
      <span ng-show="perfil_form.password.$error.maxlength">contraseña demasiado
        larga</span>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Porcentage para aranceles</label>
      <input type="text" class="form-control" id="inputPorcentage" ng-model="user_data.porcentaje">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="save_pro(user_data)">Guardar</button>
</form>
<!--style type="text/css">
	.thumb{
     height: 300px;
     border: 1px solid #000;
     margin: 10px 5px 0 0;
	}
</style-->
<!--div class="form-group col-md-12" align="center">
  <output id="list"></output>
    <img src="user_data.nombre" class="img-fluid img-profile rounded-circle" alt="Responsive image">
</div>
<div class="input-group mb-3">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="files" name="files[]">
    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02"
    id="file-lavel">Elegir Archivo...</label>
  </div>
  <div class="input-group-append">
    <span class="input-group-text" id="inputGroupFileAddon02">Cargar</span>
  </div>
</div-->