<div class="d-sm-flex align-items-center justify-content-between mb-4" ng-init="get_derechos()">
  <h6 class="h3 mb-0 text-gray-800">Gestión Derechos</h6>
  <!-- <a href="" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Nueva Arancel</a> -->
</div>

<!-- Begin Page Content -->
<div class="container-fluid">
  <div ng-if="req_error"class="alert alert-{{kind}}" role="alert">
    {{message}}
  </div>
  <form>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="inputPassword4">Clave</label>
        <input type="text" class="form-control" id="clv" ng-model="clave" onkeypress="return alpha(event)"> 
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Concepto</label>
        <input type="text" class="form-control" id="con" ng-model="concepto" onkeypress="return alpha(event)">
      </div>
      <div class="form-group col-md-2">
        <label for="inputPassword4">Unidad</label>
        <input type="text" class="form-control" id="und" ng-model="unidad">
      </div>
      <div class="form-group col-md-2">
        <label for="inputEmail4">UMA</label>
        <input type="text" class="form-control" id="cst" ng-model="costo" onkeypress="return alpha(event)">
      </div>
    </div>
    <!-- editing -->
    <div class="form-group col-md-4" ng-if="editing">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary"  ng-click="val_datos(0)">Guardar</button>
        <button type="button" class="btn btn-secondary"  ng-click="cancel()">Canelar</button>
      </div>
    </div>
    <!-- save -->
    <div class="form-group col-md-2" ng-if="!editing">
      <button type="submit" class="btn btn-primary" ng-click="val_datos(1)">Guardar</button>
    </div>
  </form>
  <div class="col-12 p-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Buscar</span>
          </div>
          <input type="text" class="form-control" placeholder="Derecho" aria-label="Arancel" aria-describedby="basic-addon1" ng-model="buscar">
        </div>

        <table class="table">
          <thead class="thead-dark">
            <th>Clave</th>
            <th>Concepto</th>
            <th>Unidad</th>
            <th>UMA</th>
            <th>Costo</th>
            <th>Gestión</th>
          </thead>
          <tbody>
            <tr ng-repeat="item in derechos_list | filter:buscar | startFrom:currentPage_ara*pageSize_ara | limitTo:pageSize_ara">
              <td>{{item.clave}}</td>
              <td>{{item.concepto}}</td>
              <td>{{item.unidad}}</td>
              <td>{{item.costo}}</td>
              <td>{{item.precio | currency}}</td>
              <td>
                <!-- editar -->
                <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="edit_der(item)">
                  <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </button>
                <!-- eliminar -->
                <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="del_der(item)">
                  <svg class="bi bi-trash2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.18 4l1.528 9.164a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836L12.82 4H3.18zm.541 9.329A2 2 0 0 0 5.694 15h4.612a2 2 0 0 0 1.973-1.671L14 3H2l1.721 10.329z"/>
                    <path d="M14 3c0 1.105-2.686 2-6 2s-6-.895-6-2 2.686-2 6-2 6 .895 6 2z"/>
                    <path fill-rule="evenodd" d="M12.9 3c-.18-.14-.497-.307-.974-.466C10.967 2.214 9.58 2 8 2s-2.968.215-3.926.534c-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466zM8 5c3.314 0 6-.895 6-2s-2.686-2-6-2-6 .895-6 2 2.686 2 6 2z"/>
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot class="thead-dark">
            <th>Clave</th>
            <th>Concepto</th>
            <th>Unidad</th>
            <th>UMA</th>
            <th>Costo</th>
            <th>Gestión</th>
          </tfoot>
        </table>
      <!-- Paginado de tabla -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item {{currentPage_ara === 0 ? 'disabled' : ''}}">
            <a class="page-link" ng-disabled="currentPage == 0" ng-click="cambio_ara(currentPage_ara-1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item {{num.numero === currentPage_ara ? 'active' : ''}}" ng-repeat="num in pageData_ara"><a class="page-link" ng-click="cambio_ara(num.numero)">{{num.numero+1}}</a></li>
          <li class="page-item {{currentPage_ara === pages_ara-1 ? 'disabled' : ''}}">
            <a class="page-link" ng-disabled="currentPage_ara == pages_ara-1" ng-click="cambio_ara(currentPage_ara+1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
</div>

<!-- Core theme JS-->
<script src="../../js/scripts.js"></script>