<!--Pagos div   ng-init="get_pagos()"  ng-init="get_re_docs_lic()"-->
<div class="d-sm-flex align-items-center justify-content-between mb-4" ng-init="get_docs()">
    <h6 class="h6 mb-0 text-gray-800">Carga de documentos para solicitantes.</h6>
</div>

<div class="card">
    <div class="card-body">
        <div ng-if="notif_pay" class="alert alert-{{kind}}" role="alert">
          {{message}}
        </div>
        <div class="col-12" ng-repeat="item in pagos_list">
          <form>
            <p class="h6">{{item.tipo_usuario_desc}}</p>
            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="validationTextarea">Comentario<small class="text-muted"></small></label>
                <textarea class="form-control" id="validationTextarea" ng-model="item.comentario" readonly></textarea>
                
              </div>
                <div class="form-group col-md-4"><br>
                    <a href="{{item.path_file}}" target="_blank" class="btn btn-outline-info btn-sm btn-block" role="button" aria-pressed="true">Ver {{item.nombre}}</a>
                </div>
            </div>
          </form>
        </div>
    </div>
</div>